{%extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Post
{% endblock title %}


{% block content %}
    <h1>{{ post.article_default_news }}</h1>
    <h5>Заголовок: {{ post.headline }}</h5><br />
    <h7>Дата публикации: {{ post.create_time|date:'M d Y h:m' }}</h7><br />
    <h7>Текст:</h7><br />
        {{ post.text|censor }}<br />
    <h7>Автор: {{ post.author }}</h7><br />
    {% for tag in post_categories %}
    {{ tag.tag }}
    {% if tag not in user_categories %}
<button> <a href="{% url 'subscribe' tag.id  %}">подписаться!</a> </button>
        <br>
        {% else %}
        <h7> - Уже подписаны</h7>
        <button> <a href="{% url 'unsubscribe' tag.id  %}">отписаться?</a> </button><br>
{% endif %}
    {% endfor %}
{% endblock content %}

